In [1]:
#문제 1: 두 수 비교하기

a,b = map(int, input().split())

if a > b:
  print(f"{a}은(는) {b}보다 큽니다.")
elif a < b:
  print(f"{a}은(는) {b}보다 작습니다.")
else:
  print(f"{a}와 {b}은(는) 같습니다.")

1 2
1은(는) 2보다  작습니다.

In [2]:
#문제 2: 세 수 중 가장 큰 수 찾기

a,b,c = map(int, input().split())

max_value = a

if max_value < b:
  max_value = b
if max_value < c:
  max_value = c

print(max_value)

1 2 3
3

In [4]:
#문제 3: 학점 판별하기
score = int(input("시험 점수 (0~100)를 입력하세요: "))

if 0 <= score <= 100:
  if score >= 90:
    grade = 'A'
  elif score >= 80:
    grade = 'B'
  elif score >= 70:
   grade = 'C'
  elif score >= 60:
    grade = 'D'
  else:
    grade = 'F'
  print(f"당신의 학점은 {grade}입니다.")
else:
  print("점수는 0부터 100 사이의 값이어야 합니다.")

시험 점수 (0~100)를 입력하세요: 80
당신의 학점은 B입니다.

In [6]:
#문제 4: 윤년 판별하기
year = int(input("연도를 입력하세요: "))

if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
  print("윤년 입니다")
else:
  print("윤년이 아닙니다")

연도를 입력하세요: 2018
윤년이 아닙니다

In [7]:
#반복문
#1부터 N까지의 합 계산하기

N = int(input("양의 정수를 입력하세요: "))

total = 0

for i in range(1,N+1):
  total += i

print(total)

양의 정수를 입력하세요: 5
15

In [9]:
#구구단 출력

dan = int(input("출력하고 싶은 단(2~9)을 입력하세요: "))

if 2<=dan<=9:
  print(f"\n------{dan}단------")
  for i in range(1,10):
    print(f"{dan} * {i} =  {dan * i}")
else:
  print("잘못된 입력")

출력하고 싶은 단(2~9)을 입력하세요: 3

------3단------
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27

In [16]:
#특정 조건까지 반복하기
count = 0

while count < 10:
  print(count, end = " ")
  count += 1
print("루프 종료")

for i in range(10):
  print(i, end = " ")

0 1 2 3 4 5 6 7 8 9 루프 종료
0 1 2 3 4 5 6 7 8 9